body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.debug-header {
    display: block;
    background: #2d2d2d;
    padding: 1rem;
    border-radius: .25rem .25rem 0 0;
}

.debug-content {
    background: #353535;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 0 0 .25rem .25rem;
}
